body { 
    padding-bottom: 70px;
    background-color: #F4F8FF;
}
.top-buffer{
    margin-top: 50px;
}

.header{
    text-align:center;
    margin-bottom: 20px;
}

.footer-style{
    padding-top: 10px;
    border-top-style: solid;
    border-top-color:  	#DCDCDC;
    background-color: #F0F8FF;
}